<%- include("../components/head") %>

    <body>

        <%- include("../components/nav") %>

            <!-- Main Content-->
            <main class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <h1>Edit <span style="color: red;">Failed</span></h1>
                            <h4>The student information you entered does not exist to be edited</h4>
                            <div class="my-5">
                                <button><a href="/">HOME</a></button>
                                <button><a href="#" onclick="history.go(-1);">BACK</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <br>
            <%- include("../components/footer") %>

    </body>

    </html>